@charset "UTF-8";

.allmenu {
  width: 100%;
  overflow: hidden;
  background-color: #2a2a2a;
}
.allmenu .inner {
  height: 80px;
  background-color: #2a2a2a;
  overflow: hidden;
  transition: all .8s;
}
.allmenu.view .inner {
  height: 1740px
}
.allmenu .allmenu__btn {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allmenu .allmenu__btn a {
  position: absolute;
}
.allmenu .allmenu__btn .notview {
  display: block;
}
.allmenu.view .allmenu__btn .notview {
  display: none;
}
.allmenu .allmenu__btn .viewing {
  display: none;
}
.allmenu.view .allmenu__btn .viewing {
  display: block;
}
.allmenu .allmenu__menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 5000px;
}
.allmenu .allmenu__menu>div {
  margin-bottom: 20px;
}
.allmenu .allmenu__menu>div:last-child {
  margin-bottom: 0;
}
.allmenu__menu .allmenu__menu__title {
  width: 100%;
  height: 50px;
  background-color: #003FC5;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.allmenu__menu .allmenu__menu__list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.allmenu__menu .allmenu__menu__list__card {
  width: calc((100% - 30px) / 4);
  height: calc((100% - 10px) /2);
  box-sizing: border-box;
}
.allmenu__menu .allmenu__menu__business .allmenu__menu__list__card {
  height: calc((100% - 20px) /3);
}
.allmenu__menu__list__card__title {
  color: #f1f1f1;
  font-weight: 700;
  padding: 3px;
  font-size: 16px;
  border-bottom: 1px solid #f1f1f1;
}
.allmenu__menu__list__card__title a {
  color: #f1f1f1;
}
.allmenu__menu__list__card__title a:hover {
  font-weight: 800;
}
.allmenu__menu__list__card__menu {
  margin-bottom: 25px;
}
.allmenu__menu__list__card__menu li {
  line-height: 24px;
}
.allmenu__menu__list__card__menu a {
  color: #f1f1f1;
  font-size: 14px;
}
.allmenu__menu__list__card__menu a:hover {
  font-weight: 700;
}
.allmenu__menu__support .allmenu__menu__list__card__title,
.allmenu__menu__events .allmenu__menu__list__card__title {
  margin-bottom: 25px;
}